<h1 class="text-center">Статьи</h1>
<div class="row">
    {% for article in articles %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="like-count" data-new="{% url 'webapp:add_like' article.pk %}">
                        Лайки: {{ article.user.all.count }}</p>
                </div>
                <a href="{{ article.get_absolute_url }}" class="card-link btn btn-primary">Подробнее</a>
                {% if request.user.is_authenticated %}
                    <button class="btn  btn-success news" data-new="{% url 'webapp:add_like' article.pk %}">Лайк</button>
                {% endif %}
            </div>
        </div>
        {% empty %}
    {% endfor %}
    {% if is_paginated %}
        <div class="text-center">{% include "partial/pagination.html" %}</div>
    {% endif %}
</div>