{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_article" %}">Создание статьи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_article" article.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_comment_create" article.pk %}">Добавить коммент</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "delete_article" article.pk %}">Удалить</a>
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">{{ article.upper }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ article.author }}</h6>
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>
    <h3>Комментарии</h3>
    {% for comment in comments %}
        <div class="card mb-3" style="width: 18rem;">
            <h5 class="card-title ps-3">{{ comment.text }}</h5>
            <div class="card-body">
                <div class="btn-group mb-3" role="group" aria-label="Basic mixed styles example">
                    <a class="btn btn-danger" href="{% url "update_comment" comment.pk %}">Изменить</a>
                    <a class="btn btn-warning" href="{% url "delete_comment" comment.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Комментариев нет</p>
    {% endfor %}
    <h3>Теги</h3>
    {% for tag in article.tags.all %}
        <p>{{ tag.name }}</p>
    {% empty %}
        <p>Тэгов нет</p>
    {% endfor %}
    <a href="{% url "index" %}">На главную</a>

    <div class="modal fade" id="articleDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="articleDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить статью {{ article.title }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_article" article.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
