{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_article" %}">Создание статьи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_article" article.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_comment_create" article.pk %}">Добавить коммент</a>
    </li>

    <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#articleDeleteModal">
            Удалить
        </button>
    </li>
{% endblock %}

{% block content %}
    {{ test }}
    <p>
        {{ article.upper }}
    </p>
    <p>
        {{ article.author }}
    </p>
    <p>
        {{ article.content }}
    </p>
    <h3>Комментарии</h3>
    {% for comment in comments %}
            <p>{{ comment.text }}</p>
        <a href="{% url "update_comment" comment.pk %}">Изменить</a>
    {% empty %}
        <p>Комментариев нет</p>
    {% endfor %}
    <h3>Теги</h3>
    {% for tag in article.tags.all %}
            <p>{{ tag.name }}</p>
    {% empty %}
        <p>Тэгов нет</p>
    {% endfor %}
    <a href="{% url "index" %}">На главную</a>

    <div class="modal fade" id="articleDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="articleDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить статью {{ article.title }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_article" article.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
