{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_article" %}">Создание статьи</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    <h1>Статьи</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{{ article.get_absolute_url }}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
        {% endfor %}
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
    </div>
{% endblock %}

